<html>
<head>
    <title>{{ title }}</title>
    <style>
        .red {
            color:red;
            /* font-weight: bold; */
            text-decoration: underline;
            text-align: right;
        }
        .green {
            color:green;
            /* font-weight: bold; */
            text-decoration: underline;
            text-align: right;
        }
    </style>
</head>
<body style="font-family: Calibri,Arial,sans-serif,HelveticaNeue,Helvetica,'Courier New',Times;">

<a href="/">HQ</a> | <a href="/hqConf">HqConf</a> | {{ templateMeta.day }} |

<a href="/hqrobot">hqrobot</a> |

{% for hqMetaFile in templateMeta.hqMetaFiles %}
    <a href="/hqMeta?{{hqMetaFile}}">hqMeta</a> |
{% endfor %}

<select id="day" onchange="setDay(this.value)">
    {% for d in templateMeta.days %}
    <option value="{{d}}">{{d}}</option>
    {% endfor %}
</select>

| startDayIdx:
<!-- <input type="text" id="startDayIdx" onchange="redirect(this.value)" size="2" maxlength="2" /> | -->
<select id="startDayIdx" onchange="redirect(this.value)">
    <option value=""></option>
    {% for i in range(60) %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
</select>

| <a href="{{templateMeta.hqConf.hqUrl.yf}}" target="_blank">YF</a> |
Ticker: <input type="text" id="ticker" onchange="getTicker(this.value)" size="3" maxlength="5" /> |
<br>

{% block content %}{% endblock %}

</body>
<script>
    function redirect(startDayIdx) {
        // day = document.getElementById('day').value;
        window.location="/hqMeta/dayIdx?startDayIdx=" + startDayIdx;
    }
    function setDay(day) {
        window.location = "/hqSetDay?day=" + day
    }
    function getTicker(ticker) {
        console.log(ticker)
        window.location = "/hqrobot/ticker?ticker=" + ticker
    }
    console.log(window.location.href)
</script>
</html>
