<html>
<head>
    <title>{{ templateMeta.title }}</title>
    <style>
        .red {
            color:red;
            /* font-weight: bold; */
            text-decoration: underline;
            text-align: right;
        }
        .green {
            color:green;
            /* font-weight: bold; */
            text-decoration: underline;
            text-align: right;
        }
    </style>
</head>
<body style="font-family: Calibri,Arial,sans-serif,HelveticaNeue,Helvetica,'Courier New',Times;">

| {{templateMeta.day}} |

<a href="/hqrobot">hqrobot</a> |

{% for hqMetaFile in templateMeta.hqMetaFiles %}
    <a href="/hqMeta?{{hqMetaFile}}">hqMeta</a> |
{% endfor %}

startDayIdx:
<!-- <input type="text" id="startDayIdx" onchange="redirect(this.value)" size="2" maxlength="2" /> | -->
<select id="startDayIdx" onchange="redirect(this.value)">
    <option value=""></option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="10">10</option>
</select>

<br><br>

{% block content %}{% endblock %}

</body>
<script>
    function redirect(startDayIdx) {
        window.location="/hqMeta/dayIdx?startDayIdx=" + startDayIdx
    }
</script>
</html>
