{% extends "base.html" %}

{% block content %}

| <a href="{{templateMeta.hqConf.hqUrl.q.format(hqCsv.ticker, hqCsv.ticker)}}" target="_blank">{{hqCsv.ticker}}</a>
| <a href="{{templateMeta.hqConf.hqUrl.h.format(hqCsv.ticker, hqCsv.ticker)}}" target="_blank">H</a>
| <a href="{{templateMeta.hqConf.hqUrl.c.format(hqCsv.ticker)}}" target="_blank">C</a>
| <a href="/hqDailyMetas?ticker={{hqCsv.ticker}}" target="_blank">HDM</a>

<table>
    <tr>
        <th>No</th>
        <th>Date</th>
        <th>Close</th>
        <th>CP</th>
        <th>LP</th>
        <th>OP</th>
        <th>HL</th>
        <th>Volume</th>
        <th>VolChange</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
    </tr>
{% for idx in hqCsv.df.index %}
    <tr>
        <td>{{hqCsv.df.No[idx]}}</td>
        <td>{{idx}}</td>
        <td>{{round(hqCsv.df.Close[idx],2)}}</td>
        <td
            {% if hqCsv.df.CP[idx] > 0.0 %}
                class="green"
            {% endif %}
            {% if hqCsv.df.CP[idx] < 0.0 %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.CP[idx],2)}}%</td>
        <td
            {% if hqCsv.df.LP[idx] >= upAlert %}
                class="green"
            {% endif %}
        >{{round(100*hqCsv.df.LP[idx],2)}}%</td>
        <td
            {% if hqCsv.df.OP[idx] >= upAlert %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.OP[idx],2)}}%</td>
        <td
            {% if hqCsv.df.HL[idx] > 0.05 %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.HL[idx],2)}}%</td>
        <td>{{hqCsv.df.Volume[idx]}}</td>
        <td
            {% if hqCsv.df.VolChange[idx] > 0.5 %}
                class="green"
            {% endif %}
            {% if hqCsv.df.VolChange[idx] < -0.5 %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.VolChange[idx],2)}}%</td>
        <td>{{round(hqCsv.df.Open[idx],2)}}</td>
        <td>{{round(hqCsv.df.High[idx],2)}}</td>
        <td>{{round(hqCsv.df.Low[idx],2)}}</td>
    </tr>
{% endfor %}
</table>

<style>
    td {
        text-align: right;
    }
</style>
{% endblock %}