{% extends "base.html" %}

{% block content %}

| <a href="{{hqUrl.q.format(hqCsv.ticker, hqCsv.ticker)}}" target="_blank">{{hqCsv.ticker}}</a>
| <a href="{{hqUrl.h.format(hqCsv.ticker, hqCsv.ticker)}}" target="_blank">H</a>

<table>
    <tr>
        <th>Date</th>
        <th>Close</th>
        <th>Change</th>
        <th>HL</th>
        <th>CL</th>
        <th>OL</th>
    </tr>
{% for idx in hqCsv.df.index %}
    <tr>
        <td>{{idx}}</td>
        <td>{{round(hqCsv.df.Close[idx],2)}}</td>
        <td
            {% if hqCsv.df.Change[idx] > 0.0 %}
                class="green"
            {% endif %}
            {% if hqCsv.df.Change[idx] < 0.0 %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.Change[idx],2)}}%</td>
        <td
            {% if hqCsv.df.HL[idx] >= upAlert %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.HL[idx],2)}}%</td>
        <td
            {% if hqCsv.df.CL[idx] >= upAlert %}
                class="green"
            {% endif %}
        >{{round(100*hqCsv.df.CL[idx],2)}}%</td>
        <td
            {% if hqCsv.df.OL[idx] >= upAlert %}
                class="red"
            {% endif %}
        >{{round(100*hqCsv.df.OL[idx],2)}}%</td>
    </tr>
{% endfor %}
</table>

<style>
    td {
        text-align: right;
    }
</style>
{% endblock %}