{% extends "base.html" %}

{% block content %}

<table>
<tr>
    <td colspan="2"></td>
    <th>Date</th>
    <th>Close</th>
    <th>Change</th>
    <th>CL</th>
    <th>HL</th>
    <th colspan="4">5-day-diff</th>
    <th colspan="4">10-day-diff</th>
</tr>
{% for hqMeta in hqMetas %}

    <tr>
        <td>
            <a href="{{hqUrl.q.format(hqMeta.ticker, hqMeta.ticker)}}" target="_blank">{{hqMeta.ticker}}</a></td>
        <td>
            <a href="{{hqUrl.h.format(hqMeta.ticker, hqMeta.ticker)}}" target="_blank">H</a></td>
        <td>{{hqMeta.date}}</td>
        <td align="right">{{round(hqMeta.close,2)}}</td>
        <td align="right"
            {% if hqMeta.change >= upAlert %}
                class="green"
            {% endif %}
            >{{round(100*hqMeta.change,2)}}%</td>
        <td align="right">{{round(100*hqMeta.CL,2)}}%</td>
        <td align="right">{{round(100*hqMeta.HL,2)}}%</td>
        <!-- 5 days diff down -->
        <td>{{hqMeta.nDaysDiff_5.nDaysHighest}}</td>
        <td align="right"
            {% if hqMeta.nDaysDiff_5.downDiff <= downAlert %}
                class="red"
            {% endif %}
            >
            {{round(100*hqMeta.nDaysDiff_5.downDiff,2)}}%
        </td>
        <!-- 5 days diff up -->
        <td>{{hqMeta.nDaysDiff_5.nDaysLowest}}</td>
        <td align="right"
            {% if hqMeta.nDaysDiff_5.upDiff >= upAlert %}
                class="green"
            {% endif %}
            >
            {{round(100*hqMeta.nDaysDiff_5.upDiff,2)}}%
        </td>
        <!-- 10 days diff -->
        <td>{{hqMeta.nDaysDiff_10.nDaysHighest}}</td>
        <td align="right"
            {% if hqMeta.nDaysDiff_10.downDiff <= downAlert %}
                class="red"
            {% endif %}
            >
            {{round(100*hqMeta.nDaysDiff_10.downDiff,2)}}%
        </td>
        <!-- 10 days diff up -->
        <td>{{hqMeta.nDaysDiff_10.nDaysLowest}}</td>
        <td align="right"
            {% if hqMeta.nDaysDiff_10.upDiff >= upAlert %}
                class="green"
            {% endif %}
            >
            {{round(100*hqMeta.nDaysDiff_10.upDiff,2)}}%
        </td>

    </tr>

{% endfor %}
</table>

<style>
    .alert {
        color:red;
        font-weight: bold
    }
    .red {
        color:red;
        font-weight: bold
    }
    .green {
        color:green;
        font-weight: bold
    }
</style>
{% endblock %}