{% extends "base.html" %}

{% block content %}

<table>
<tr>
    <td colspan="2"></td>
    <th>5-day-diff</th>
    <th>10-day-diff</th>
</tr>
{% for hqMeta in hqMetas %}

    <tr>
        <td>
            <a href="{{hqUrl.q.format(hqMeta.ticker, hqMeta.ticker)}}" target="_blank">{{hqMeta.ticker}}</a></td>
        <td>
            <a href="{{hqUrl.h.format(hqMeta.ticker, hqMeta.ticker)}}" target="_blank">H</a></td>
        <td align="right">
            {{hqMeta.nDaysDownDiff5.diffDate}} |
            {{convert2Percent(hqMeta.nDaysDownDiff5.diff)}}%
        </td>
        <td align="right">
            {{hqMeta.nDaysDownDiff10.diffDate}} |
            {{convert2Percent(hqMeta.nDaysDownDiff10.diff)}}%
        </td>
    </tr>

{% endfor %}
</table>

{% endblock %}