{% extends "base.html" %}

{% block content %}
Date: {{templateMeta['day']}}
<br>
<a href="{{templateMeta.hqConf.hqUrl.q.format(ticker, ticker)}}" target="_blank">{{ticker}}</a>
| <a href="{{templateMeta.hqConf.hqUrl.c.format(ticker)}}" target="_blank">C</a>
| <a href="/hqDailyMetas?ticker={{ticker}}" target="_blank">HDM</a>
| <a href="/hqPrice?ticker={{ticker}}" target="_blank">P</a>

<table>
<tr>
    <td></td>
    <td>Pattern ({{len(hqPatterns.patterns)}})</td>
    <td>C</td><td>Change</td><td>CL</td><td>HL</td>
    <td>nDays</td>
    <td>LowDate</td>
    <td>HighDate</td>
    <td>cpDiff</td>
</tr>
{% for pattern in hqPatterns.patterns %}
<tr>
    <td>{{pattern['hqMeta']['date']}}</td>
    <td
        {% if pattern['pattern'][1] < 0 %}
            class="red2"
        {% else %}
            class="green2"
        {% endif %}
    >{{pattern['pattern'][0]}}</td>
    <td align="right">{{round(pattern['hqMeta']['C'],2)}}</td>
    <td align="right">{{round(100*pattern['hqMeta']['change'],2)}}%</td>
    <td align="right">{{round(100*pattern['hqMeta']['CL'],2)}}%</td>
    <td align="right">{{round(100*pattern['hqMeta']['HL'],2)}}%</td>
    <td>{{pattern['nDaysHL']['nDays']}}|
        {{pattern['nDaysHL']['cpLowDateRowNo']}}</td>
    <td>{{pattern['nDaysHL']['cpLowDate']}}</td>
    <td>{{pattern['nDaysHL']['cpHighDate']}}</td>
    <td align="right">{{round(100*pattern['nDaysHL']['cpDiff'],2)}}%</td>
</tr>
{% endfor %}
</table>

{% endblock %}