{% extends "base.html" %}

{% block content %}
Scan Date: {{templateMeta['day']}}
<table>
<tr>
<td>
<div>Bullish Engulfing ({{len(hqPatterns.bullishEngulfings)}})</div>
<table>
<tr>
<td colspan="4"></td>
<td>stickOC</td>
<td>nDaysLowDate</td>
</tr>
{% for pattern in hqPatterns.bullishEngulfings %}
<tr>
    <td>
        <a href="{{templateMeta.hqConf.hqUrl.q.format(pattern['ticker'], pattern['ticker'])}}" target="_blank">{{pattern['ticker']}}</a></td>
    <td>
        <a href="{{templateMeta.hqConf.hqUrl.c.format(pattern['ticker'])}}" target="_blank">C</a></td>
    <td>
        <a href="/hqCsv?ticker={{pattern['ticker']}}" target="_blank">Csv</a></td>
    <td>
        <a href="/hqDailyMetas?ticker={{pattern['ticker']}}" target="_blank">HDM</a></td>
    <td align="right">
        {{round(100*pattern['stickOC'],2)}}%
    </td>
    <td>
        {{pattern['nDaysHL']['cpLowDate']}}|{{pattern['nDaysHL']['nDays']}}|
        {{pattern['nDaysHL']['cpLowDateRowNo']}}</td>
</tr>
{% endfor %}
</table>

<div>Moring Star ({{len(hqPatterns.morningStars)}})</div>
<table>
<tr>
<td colspan="4"></td>
<td>stickOC</td>
<td>nDaysLowDate</td>
</tr>
{% for pattern in hqPatterns.morningStars %}
<tr>
    <td>
        <a href="{{templateMeta.hqConf.hqUrl.q.format(pattern['ticker'], pattern['ticker'])}}" target="_blank">{{pattern['ticker']}}</a></td>
    <td>
        <a href="{{templateMeta.hqConf.hqUrl.c.format(pattern['ticker'])}}" target="_blank">C</a></td>
    <td>
        <a href="/hqCsv?ticker={{pattern['ticker']}}" target="_blank">Csv</a></td>
    <td>
        <a href="/hqDailyMetas?ticker={{pattern['ticker']}}" target="_blank">HDM</a></td>
    <td align="right">
        {{round(100*pattern['stickOC'],2)}}%
    <td>
        {{pattern['nDaysHL']['cpLowDate']}}|{{pattern['nDaysHL']['nDays']}}|
        {{pattern['nDaysHL']['cpLowDateRowNo']}}</td>
</tr>
{% endfor %}
</table>
</td>
</tr>
</table>

{% endblock %}