{% extends "base.html" %}

{% block content %}

<table>
    <tr>
{% for tickerList in ['tickers', 'etf', 'idx'] %}
<th valign="top">
<a href="/hqMeta/dayIdx?startDayIdx=0&list={{tickerList}}">{{tickerList}}</a>
<table>
{% for ticker in templateMeta.hqConf[tickerList] %}
    <tr>
        <td>
            <a href="{{templateMeta.hqConf.hqUrl.q.format(ticker, ticker)}}" target="_blank">{{ticker}}</a></td>
        <td>
            <a href="{{templateMeta.hqConf.hqUrl.h.format(ticker, ticker)}}" target="_blank">H</a></td>
        <td>
            <a href="{{templateMeta.hqConf.hqUrl.c.format(ticker)}}" target="_blank">C</a></td>
        <td>
            <a href="/hqCsv?ticker={{ticker}}" target="_blank">Csv</a></td>
        <td>
            <a href="/hqDailyMetas?ticker={{ticker}}" target="_blank">HDM</a></td>
    </tr>
{% endfor %}
</table>
</th>
{% endfor %}
</tr>
</table>

{% endblock %}